@page
@model ParceriaModel
@{
    ViewData["Title"] = "Parceria";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.</title>
    <link rel="stylesheet" href="~/css/Parceiria.css" />
    </head>


 



<body>
   <section class="hero">
        <h2>SEJA PARCEIRO:</h2>
        <p>Juntos, Impulsionamos Inovações que Beneficiam o Planeta.</p>
         <img src="parce.jpg" alt="Imagem de parceria">
    </section>
    
    <section class="partners">
        <h3>Nossos Parceiros</h3>
        <div class="partner-logos">
            <div class="partner-logo"></div>
            <div class="partner-logo"></div>
            <div class="partner-logo"></div>
            <div class="partner-logo"></div>
        </div>
    </section>

    <section class="access-sales">
        <img src="~/img/work.png" alt="" class="work">
        <div class="access-text">
            <h3>Acesso à venda de produtos</h3>
            <p>Ao estabelecer uma parceria com a EcoLife, você terá acesso preferencial ou exclusivo aos nossos produtos biodegradáveis e ecológicos, que podem ser integrados à sua linha de produtos ou utilizados em suas operações.</p>
        </div>
    </section>

    <section class="social-responsibility">
        <h3>Responsabilidade Social Corporativa</h3>
        <p>Associar-se com a EcoLife pode fortalecer sua estratégia de responsabilidade social corporativa (CSR), demonstrando seu compromisso com práticas comerciais éticas e sustentáveis.</p>
        <p>Nossas parcerias frequentemente envolvem projetos sociais que beneficiam a comunidade local, permitindo que sua empresa participe ativamente de ações que geram valor social.</p>
    </section>

    <section class="contact">
        <h3>Escolha a melhor forma de <span>falar com a gente</span></h3>
        <p>Entre em contato por um de nossos canais. Fique atento! O prazo para retorno dos chamados é até 7 dias úteis a partir da abertura do chamado.</p>
        <div class="contact-options">
            <div class="contact-option">
                <span>📞</span> (71) 99999-9999
            </div>
            <div class="contact-option">
                <span>📧</span> ecolife@gmail.com
            </div>
        </div>
    </section>
</body>
</html>